@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Ranga');

*{box-sizing:border-box}

body {
  font-size:16px;
  font-family:'Montserrat', sans-serif;
  background:#eee;
}

.title {
  margin-bottom:1em;
  background:#222;
  padding:1em .5em .5em;
  border-bottom:solid 1px black;
  box-shadow:0 1px 4px black;
  color:#61dafb;  
}
.btn {
  font-size:.9rem;
}

.logo {
  height:100%;
  vertical-align:middle;
}
.name { 
  font-size:36px;
  vertical-align:middle;
  margin-left:10px;
}

.board {
  display:inline-flex;
  flex-wrap:wrap;
  width:6em; 
  font-size:2em;
  margin-bottom:1em;
  vertical-align: top;
  color:rgba(0,0,0,.9);
}

.square {
  width:2em;
  height:2em;
  border:1px solid gray;
  margin: -1px -1px 0 0;
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
  transition:1s ease-out;
}
.x-sqr:hover span:before{
  content:'X';
  opacity:.2;
}
.o-sqr:hover span:before{
  content:'O';
  opacity:.2;
}
.winning-sqr{
  background:hsl(193, 50%, 85%);
}

/*removing outer borders from game board*/
.square:nth-child(-1n + 3) {
  border-top:none;
}
.square:nth-child(3n + 1) {
  border-left:none;
}
.square:nth-child(3n + 3) {
  border-right:none;
}
.square:nth-child(1n + 7) {
  border-bottom:none;
}
.non-clickable {
  pointer-events:none;
}

.scoreboard {
  display:inline-block;
  margin-left:2em;
  color:rgba(0,0,0,.9);
}

.status {
  font-size:1.75em;
}
.scores{
  list-style:none;
  padding:.5em .25em;
}
.scores li {
  margin-top:4px;
  font-style: italic;

}
.scores li span {
  font-style:normal;
  font-size:1.25rem;
  color:black; 
}

.options {
  margin-bottom:1em;
  font-size:1.25em;
}
.option {
  margin-top:.5em;
}

.btn-group {
  margin-left:1em;
}

.game-start{
  margin-bottom:2em;
}